.mb20 {
  margin-bottom: 20px;
}

.mt50 {
  margin-top: 50px;
}

.textCenter {
  text-align: center;
}

/* 모달 css */
.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.55); /* 어둡고 투명한 레이어 */
  backdrop-filter: blur(8px); 
  -webkit-backdrop-filter: blur(8px);
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.15);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 20;
  animation: fadeIn 0.2s ease-in;
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

.modalContent {
  width: 70vw;
  /* height: 85vh; */
  height: auto;
  background: #1a1d2e;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;
  padding: 25px;
}

.modalTopDiv {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.modalTitle {
  display: flex;
  align-items: center;
}


.modalTitle img {
  width: 40px;
  margin-right: 15px;
}

.modalTitle span {
  font-size: 25px;
}

.closeBtn {
    width: 40px;
    height: 40px;
    border: none;
    color: white;
    background: transparent;
    font-size: 30px;
    cursor: pointer;
}

.cameraView {
  margin-top: 20px;
  position: relative;
  width: 100%;
  height: 100%;
}

.customSelectBox {
  position: absolute;
  top: 20px;
  left: 20px;
  width: 150px;
}

.cameraView .video-box {
  width: 100%;
  height: 100%;
  border-radius: 15px;
  border: 1px solid #fff;
}

.topRightPostion {
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 10;
}

.topRightIcon {
  display: flex;
  align-items: center;
  font-size: 13px;
  gap: 20px;
  justify-content: center;
}

.videoStatusCustom button {
  width: 59px;
  height: 30px;
}

.robotStatus {
  display: flex;
  align-items: center;
}

.robotStatus img {
  width: 22px;
  margin-right: 10px;
}

.middlePosition {
  position: absolute;
  bottom: 235px;
  right: 35px;
}

.floorFlex {
  width: 270px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap-reverse;
  justify-content: flex-start;
  text-align: center;
  font-size: 14px;
  gap: 5px;

  text-align: center;
  font-size: 14px;
}

.floorFlex div {
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: calc(250px / 5);
  height: 30px;
  box-sizing: border-box;
  border: 1px solid rgba(255, 255, 255);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
}

.floorFlex div.active {
  background: #e46463;
}

.floorGrid div {
  width: calc(100% / 6);
  line-height: 30px;
  border: 1px solid #fff;
  border-radius: 5px;
  cursor: pointer;
}

.floorGrid div:hover {
  background: #d95a59;
}

.bottomPosition {
  position: absolute;
  bottom: 20px;
  width: 100%;
}

.bottomFlex {
  display: flex;
  justify-content: center;
  /* gap: 45px; */
  gap: 30px;
  width: 100%;
}

.modeBox {
  width: 20%;
}

.viewBtn {
  width: 15%;
}

.viewBox {
  width: 23%;
  height: 200px;
  border: 1px solid #fff;
  border-radius: 10px;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.5);
  position: relative;
}

.viewBox video {
  width: 100%;
  height: 200px;
  border: 1px solid #fff;
  border-radius: 15px;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.5);
  position: relative;
}

.viewExchangeBtn {
  width: 33px;
  height: 33px;
  border: 1px solid #fff;
  padding: 7px;
  border-radius: 6px;
  position: absolute;
  right: 10px;
  top: 10px;
  cursor: pointer;
}

.viewExchangeBtn img {
  width: 100%;
}

.standSitBtn,
.speedBtn,
.camBtn,
.zoomBtn {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.standSitBtn div,
.speedBtn div,
.camBtn div,
.zoomBtn div {
  height: 28px;
  border: 1px solid #fff;
  line-height: 28px;
  text-align: center;
  border-radius: 5px;
  font-size: 14px;
  cursor: pointer;
}

.standSitBtn div:hover,
.speedBtn div:hover,
.camBtn div:hover,
.camBtn div.active,
.zoomBtn div:hover {
  background: #808291;
}

.standSitBtn div,
.camBtn div,
.zoomBtn div {
  width: 48%;
}

.speedBtn div {
  width: 30%;
}

.powerBtn {
  width: 10%;
}

.powerImg {
  width: 60px;
  height: 60px;
  border-radius: 50px;
  background: #79b883;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #fff;
  margin: 0 auto;
  cursor: pointer;
}

.powerImg:hover,
.powerImg:focus {
  background: #a12a3d;
}

.powerBtn img {
  height: 33px;
}


/* Robot Detail Modal */

.insertModalContent {
  width: 680px;
  height: auto;
  background: #1a1d2e;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;
  padding: 25px;
}

.insertCloseBtn {
  width: 40px;
  height: 40px;
  border: none;
  color: white;
  background: transparent;
  font-size: 23px;
  cursor: pointer;
  position: absolute;
  right: 20px;
  top: 15px;
}

.insertTitle {
  display: flex;
  gap: 15px;
  margin-top: 20px;
}

.insertTitle img {
  width: 25px;
}

.insertTitle h2 {
  font-weight: 500;
  margin: 0;
  color: #ffffff;
}

.itemBoxContainer {
  width: 100%;
  border-radius: 15px;
  margin-top: 20px;
  height: auto;
}

.insertItemBoxContainerBg {
  background: #3c415f;
}

.itemBoxTotal {
  width: calc(100% - 60px);
  padding: 40px 0;
  margin: 0 auto;
}

.insertItemBox {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.mb20 {
  margin-bottom: 20px;
}

.insertItemBox div {
  font-size: 16px;
}

.insertItemBox input {
  width: 350px;
  height: 40px;
  border-radius: 6px;
  padding: 5px 10px;
  border: 1px solid #7f8ca7;
  background: #4a4f6c;
  color: #fcffff;
}

.insertItemBox input:focus {
  outline: none;
}

.insertItemBox input::placeholder {
  color: #fcffff;
  font-size: 12px;
  font-weight: 300;
}

.btnTotal {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  margin-top: 35px;
}

.btnItemCommon {
  display: flex;
  gap: 10px;
  align-items: center;
  width: 150px;
  height: 40px;
  border-radius: 6px;
  justify-content: center;
  cursor: pointer;
}

.btnBgRed{
  background: #941621;
  margin-right: 10px;
}

.btnBgBlue{
  background: #196189;
}

.btnItemCommon img {
  height: 10px;
}

.btnItemCommon div {
  font-size: 14px;
}

.detailModalContent {
  width: 800px;
  height: auto;
  background: #1a1d2e;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;
  padding: 25px;
}

.detailCloseBtn {
  width: 40px;
  height: 40px;
  border: none;
  color: white;
  background: transparent;
  font-size: 23px;
  cursor: pointer;
  position: absolute;
  right: 20px;
  top: 15px;
}

.detailTitle {
  display: flex;
  gap: 15px;
  margin-top: 20px;
}

.detailTitle img {
  width: 25px;
}

.detailTitle h2 {
  font-weight: 500;
  margin: 0;
  color: #ffffff;
}

.detailBoxFs {
  font-size: 13px;
}

.detailRowItemBox {
  display: flex;
}

.btnBline {
  border-bottom: 1px solid #7881a1;
}

.detailItemBox {
  display: flex;
  width: 50%;
}

.itemTitleBox {
  width: 45%;
  line-height: 60px;
  background: #3c415f;
  padding-left: 20px;
  font-weight: 500;
}

.itemContentBox {
  width: 55%;
  background: #465376;
  line-height: 60px;
  padding-left: 20px;
  font-weight: 300;
}

.lhUnset {
  line-height: unset;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.borderTl8 {
  border-top-left-radius: 8px;
}

.borderTr8 {
  border-top-right-radius: 8px;
}

.borderBl8 {
  border-bottom-left-radius: 8px;
}

.borderBr8 {
  border-bottom-right-radius: 8px;
}

.btnTotal {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-top: 30px;
}

.btnLeftBox,
.btnRightBox {
  display: flex;
  cursor: pointer;
}

.btnBgGray {
  background: #626a81;
}

.mr10 {
  margin-right: 10px;
}

.btnBgGray:focus,
.btnBgGray:hover {
  background: #484e64;
}


/* 모달 delete 추가 알림 css */

.confirmOverlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 40;
}

.confirmBox {
  background: #282d43ff;
  padding: 24px;
  width: 400px;
  border-radius: 12px;
  text-align: center;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
  height: 200px;
  font-size: 15px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.confirmButtons {
  margin-top: 45px;
  display: flex;
  justify-content: center;
  gap: 8px;
}

.confirmButtons button {
  color: #fff;
  border: none;
}