.title {
    display: flex;
    align-items: center;
}

.title  div {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: aliceblue;
    margin-left: 20px;
}

.half-flex {
    display: flex;
    gap: 2%;
}

.left-div {
    width: 35%;
}

.right-div {
    width: 65%;
}

.empty {
    width: 100%;
    height: 150px;
}

.line {
    border: 1px solid rgb(219, 219, 219, 0.6);
}

.left-title {
    font-size: 18px;
    font-weight: 600;
    margin: 15px 0;
    padding-left: 30px;
}

.robot-status-box {
    width: 100%;
    height: 100px;
    background-color: rgb(216, 243, 255);
    border-radius: 8px;
    display: flex;
    gap: 10px;
    color: #222;
    font-weight: 500;
    font-size: 18px;
    align-items: center;
    padding: 0 10px;
    box-shadow: 0 -2px 2px 1px rgba(255, 255, 255, 0.4);
    margin-bottom: 15px;
    cursor: pointer;
}

.robot-status-box div {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: aliceblue;
}


.map-img {
    width: 100%;
    height: 450px;
    background-color: aliceblue;
}

.map-img img {
    width: 100%;
    height: 100%;
}

.robot-status .top-div {
    position: relative;
    margin-bottom: 30px;
}

.right-div div button {
    position: absolute;
    bottom: 10px;
    right: 10px;
    font-size: 28px;
    padding: 8px 25px;
    background: rgb(85, 159, 206);
    border: 2px solid rgb(49, 117, 145);
    cursor: pointer;
}

.robot-status table {
    width: 100%;
    border-collapse: collapse;
    text-align: center;
    font-size: 12px;

}
  
.robot-status table th {
    border: 1px solid #d8d8d8;
    border-bottom: 2px solid #d8d8d8;
    background-color: #e2e8f5;
    color: #222;
    padding: 10px 0;
    width: calc(100% / 7);
}
  
.robot-status table td {
    border: 1px solid #d8d8d8;
    background-color: #fff;
    color: #BFBFBF;
    height: 50px;
    width: calc(100% / 7);
}
  
  
.robot-status table th:nth-child(1),
.robot-status table td:nth-child(1) { border-left: none; }

.robot-status table th:nth-child(7),
.robot-status table td:nth-child(7) { border-right: none; }





/* 모달 */

.camera-remote-btn.home img {
    height: 60%;
}

.mapSection {
    position: relative;
    width: 100%;
    aspect-ratio: 16 / 9;
    height: auto;
    background: #0f111a;
    overflow: hidden;
  }
  
  .mapImage,
  .mapVideo {
    width: 100%;
    height: 100%;
    /* object-fit: contain; */
  }

  .mapCameraSection {
    position: absolute;
    bottom: 40px;
    right: 20px;
  }

  .mapCameraImage {
    width: 400px;
    height: 250px;
  }
  