.wrapper {
    position: relative;
  }
  
  /* 기존 날짜 영역 */
.videoDate {
    display: flex;
    gap: 10px;
    align-items: center;
}

.startDate,
.endDate {
    width: 130px;
    background: #494c5f;
    border: 1px solid #8a96ac;
    padding: 5px 14px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    font-size: 13px;
    height: 33px;
}

.startDate img,
.endDate img {
    height: 60%;
}

  /* ===== 달력 모달 ===== */
  
  .calendarModal {
    width: 250px;
    height: 290px;
    padding: 16px 18px 14px;
    border-radius: 16px;
    background: #111827;
    box-shadow: 0 18px 40px rgba(0, 0, 0, 0.5);
    color: #e5e7eb;
    font-size: 14px;
    z-index: 50;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  /* 헤더 */
  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 12px;
  }
  
  .header button {
    background: none;
    border: none;
    color: #9ca3af;
    cursor: pointer;
    font-size: 16px;
  }

  .header button img {
    height: 10px;
  }
  
  .title {
    font-weight: 600;
  }
  
  /* 요일 */
  .weekRow {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    text-align: center;
    margin-bottom: 6px;
    font-size: 12px;
    color: #9ca3af;
  }
  
  .sun {
    color: #cf5058;
  }
  
  .sat {
    color: #3084d7;
  }
  
  /* 날짜 */
  .daysGrid {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 4px;
    margin-bottom: 12px;
  }
  
  .emptyCell {
    height: 20px;
  }
  
  .day,
  .daySelected {
    height: 23px;
    border-radius: 5px;
    border: none;
    background: transparent;
    color: #9f9fa6;
    cursor: pointer;
  }
  
  .day:hover {
    background: #1f2937;
    color: #9f9fa6;
  }
  
  .daySelected {
    background: #d2d3d7;
    color: #232834;
    font-weight: 500;
  }
  
  /* 하단 버튼 */
  .footer {
    display: flex;
    justify-content: space-between;
    margin-top: 4px;
  }
  
  .today,
  .confirm {
    height: 26px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    font-size: 12px;
    width: 75px;
  }
  
  .today {
    margin-right: 8px;
    background: #60687f;
    color: #d3dee3;
  }
  
  .confirm {
    border: 1px solid #2d708d;
    background: #145b7f;
    color: #e4ffff;
  }  