.pagination button {
    background: transparent;
    border: none;
    color: #b7bdc2;
    font-weight: 600;
    font-size: 16px;
}

.pagination button:hover,
.pagination button:focus {
    color: #94d6f9;
}

.pagination button img {
    height: 10px;
}