.top-div {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.title-div {
  display: flex;
  align-items: center;
}

.title-div div {
  width: auto;
  height: 23px;
  margin-right: 15px;
}

.title-div div img {
  height: 100%;
}

.title-div h2 {
  margin: 0;
  font-size: 23px;
  font-weight: 500;
}

.middle-div {
    height: 75%;
    margin-bottom: 20px;
}

.view-div {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    border-radius: 10px;
}

.view-box {
    width: 100%;
    height: 100%;
    background-color: #d6d6d6;
    color: #222;
    border-radius: 10px;
}
  
.view-box iframe,
.view-box .path-icon-img {
    width: 100%;
    height: 100%;
}

.view-button,
.map-button {
    position: absolute;
    display: flex;
    bottom: 10px;
    right: 10px;
}

.bottom-div {
    display: flex;
    justify-content: space-between;
  }

 
  .zoom-icon div {
    width: auto;
    height: 20px;
    margin-right: 5px;
  }
  
  .zoom-icon {
    display: inline-block;
  }
  
  .zoom-icon img,
  .remote-icon img {
    height: 100%;
  }

  .FloorName {
    position: absolute;
    width: 50px;
    height: 35px;
    line-height: 35px;
    background: rgba(187, 191, 194, 0.8);
    border: 1px solid #fdffff;
    border-radius: 6px;
    text-align: center;
    color: #fff;
    top: 15px;
    left: 15px;
    z-index: 1;
  }

  .customSelectBox {
    width: 151px;
    margin-left: 3px;
  }