.topPosition {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding-top: 15px;
    margin-bottom: 21px;
}

.topPosition h1 {
    margin: 0;
    font-weight: 500;
    min-width: 350px;
    font-size: 30px;
}

.container {
    background: #282d43;
    border-radius: 15px;
    width: 100%;
    height: 730px;
    font-size: 20px;
    color: #a2adcc;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container img {
    width: 80px;
}

.container .topTitle {
    margin-top: 15px;
    font-size: 35px;
    font-weight: 600;
    color: #b0b5bc;
}

.container .contentText {
    margin-top: 15px;
    font-size: 15px;
    font-weight: 400;
    color: #aaadbf;
}