/* /app/components/TotalRobotsDonut.css */

/* 전체 컨테이너 (카드 안에서 위치 잡기용) */
.totalDonut {
  width: 320px;
  height: 320px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* ✅ 바깥 얇은 외곽 테두리 */
.totalDonutBorder {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  box-shadow:
    0 0 5px rgba(255, 255, 255, 0.5),
    0 0 8px rgba(255, 255, 255, 0.4),
    0 0 10px rgba(255, 255, 255, 0.3);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #ccd1e4;
}


/* 바깥 컬러 도넛 부분 (conic-gradient 들어가는 곳) */
.totalDonutOuter {
  width: 280px;
  height: 280px;
  border-radius: 50%;
  position: relative;
}

.totalDonutGap {
  position: absolute;
  inset: 55px;
  border-radius: 50%;
  background-color: #262b3f;
}

/* 안쪽 어두운 링 + 중앙 원 */
.totalDonutInner {
  position: absolute;
  inset: 10px; /* 바깥 도넛과의 간격(두께 조절) */
  border-radius: 50%;
  background-color: #262b3f;       /* 안쪽 원 색 */
  box-shadow: 0 0 0 4px #1f2937;   /* 이미지처럼 얇은 링 느낌 */
  border: 1px solid #ccd1e4;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* 중앙 텍스트 영역 */
.totalDonutCenter {
  text-align: center;
  color: #e5e7eb;
}

.centerRobotIcon {
  width: 40px;
  height: 40px;
  margin: 0 auto 4px;
}

.centerRobotIcon img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.centerLabelTop {
  font-size: 18px;
  letter-spacing: 1px;
  font-weight: 500;
}

.centerNumber {
  font-size: 50px;
  font-weight: 700;
  margin-top: 5px;
  height: 45px;
  font-family: 'Gmarket Sans';
}

.centerUnit {
  font-size: 12px;
  color: #9ca3af;
  font-weight: 500;
  margin-top: 8px;
  font-family: 'Gmarket Sans';
}
