.RobotStatusTopPosition {
  display: flex;
  justify-content: space-between;
}

.RobotSearch {
  display: flex;
  gap: 10px;
}

.status {
    width: 100%;
    border-collapse: collapse;
    text-align: center;
  }
  
.status th,
.status td {
  padding: 5px 0;
  height: 50px;
}
  
.status thead tr {
    background: #202334;
}

.status thead th {
    position: relative;
    color: #9DADCB;
    font-size: 15px;
    font-weight: 600;
}

.status tbody td {
    position: relative;
    color: #b9c1cb;
    font-size: 14px;
}
  
.status thead th:not(:last-child)::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    width: 1px;
    height: 14px;
    background: rgba(255, 255, 255, 0.25);
}
  
.status tr:nth-child(2n) {
  background-color: rgba(51, 56, 76, 0.8);
}
    
.status th:nth-child(1) { width: 14%; }
.status th:nth-child(2) { width: 15%; }
.status th:nth-child(3) { width: 15%; }
.status th:nth-child(4) { width: 15%; }
.status th:nth-child(5) { width: 14%; }
.status th:nth-child(6) { width: 14%; }


/* ✅ 로봇 인덱스별 색상 지정 */
.robot-color-1 {
  color: #FF0000;
}

.robot-color-2 {
  color: #00B0EE;
}

.robot-color-3 {
  color: #92D050;
}
  
.robot_status_icon_div {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.robot_status_icon_div img,
.status td img {
  width: auto;
  height: 20px;
}

.info-box {
  border-radius: 50px;
  width: 65px;
  height: 23px;
  line-height: 23px;
  background: rgba(82, 92, 113, 0.8);
  font-size:10px;
  color: #fff;
  border: 1px solid #9499af;
  cursor: pointer;
}

.viewMap {
  width: 85%;
  height: 90%;
  border-radius: 50px;
  border: 1px solid #8f94a8;
  font-size: 13px;
  margin: 0 auto;
  cursor: pointer;
}

.viewMap:hover {
  background: #ed1c24;
  color: #fff;
}

.bottomPosition {
  position: relative;
}

.pagenationPosition {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

.RobotCrudBtnPosition {
  position: absolute;
}

.commonBox {
  width: 100%;
  height: 280px;
  position: relative;
  border: 1px solid #fff;
  border-radius: 12px;
  font-size: 14px;
}


/* camera&map */

.floorBox,
.robotBox {
  line-height: 30px;
  border: 1px solid #fff;
  border-radius: 5px;
  text-align: center;
}

.floorBox{
  position: absolute;
  width: 40px;
  top: 15px;
  right: 15px;
}

.robotBox {
  position: absolute;
  width: 80px;
  top: 15px;
  left: 15px;
}

.zoomPosition,
.cameraPosition {
  position: absolute;
  bottom: 15px;
  right: 15px;
}

.zoomFlex,
.cameraFlex {
  display: flex;
  gap: 8px;
}

.zoomBox,
.camBox {
  border: 1px solid #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.zoomBox:hover,
.camBox:hover,
.camBox.active {
  background: #747683;
}

.zoomBox {
  width: 33px;
  height: 33px;
  border-radius: 50px;
}

.zoomBox img {
  height: 16px;
}

.camBox {
  width: 80px;
  line-height: 32px;
  border-radius: 5px;
}

.RobotStatusList {
  width: 64%;
}

.cameraMapView {
  width: 34%;
}

.RobotStatusList,
.cameraMapView {
  background: #282d43;
  border-radius: 10px;
  padding: 20px;
}

.RobotStatusList h2,
.cameraMapView h2 {
  font-weight: 600;
  margin: 0 0 20px 0;
  color: #92d4f4;
}

.modalOpenBox {
  display: flex;
  justify-content: space-between;
}