.commonBox {
    width: 100%;
    height: 280px;
    position: relative;
    border: 1px solid #fff;
    border-radius: 12px;
    font-size: 14px;
}

.floorBox,
.robotBox {
    line-height: 30px;
    border: 1px solid #fff;
    border-radius: 5px;
    text-align: center;
}

.floorBox{
    position: absolute;
    width: 40px;
    top: 15px;
    right: 15px;
}

.robotBox {
    position: absolute;
    width: 80px;
    top: 15px;
    left: 15px;
}

.zoomPosition,
.cameraPosition {
    position: absolute;
    bottom: 15px;
    right: 15px;
}

.zoomFlex,
.cameraFlex {
    display: flex;
    gap: 8px;
}

.zoomBox,
.camBox {
    border: 1px solid #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.zoomBox:hover,
.camBox:hover {
    background: #747683;
}

.zoomBox {
    width: 33px;
    height: 33px;
    border-radius: 50px;
}

.zoomBox img {
    height: 16px;
}

.camBox {
    width: 80px;
    line-height: 32px;
    border-radius: 5px;
}

