.header {
    padding: 12px 45px;
    width: 100%;
    background-color: #202334;
    height: 120px;
    color: #FFFFFF;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 50;
}


/* header 스타일 */
.alarm-icon {
    display: flex;
    gap: 20px;
}
.alarm {
    position: relative;
}

.alarm-icon button {
    border: none;
    background: transparent;
}

.alarmBegs {
    width: 15px;
    max-width: 20px;
    height: 15px;

    border-radius: 50px;
    border: 1px solid #202334;

    background: #FF0000;
    color: #ffffff;
    font-size: 8px;

    position: absolute;
    top: 0;
    left: 24px;

    display: flex;
    align-items: center;
    justify-content: center;
}


.alarm-icon button,
.schedule div img,
.lacation div img {
    width: auto;
    height: 40px;
}

.alarm img,
.schedule div img {
    cursor: pointer;
}

.admin-img {
    width: 42px;
    height: 42px;
    margin-right: 17px;
}

.logo-img {
    width: 68px;
    height: 68px;
    margin-right: 24px;
}

.logoTitle {
    font-size: 30px;
    font-weight: 600;
}

.logo-img img, 
.alarm-icon img,
.admin-img img {
    height: 100%;
}

.alarm, .schedule {
    position: relative;
}

.schedule span {
    position: absolute;
    font-size: 12px;
    font-weight: 600;
}

.alarm span,
.schedule span {
    top: 0;
    right: 4px;
}

.new-time {
    margin-left: 30px;
    font-size: 14px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-right: 25px;
}

.admin {
    width: 253px;
    height: 60px;
    padding: 9px 13px;
    background-color: #fff;
    border-radius: 6px;
    font-size: 16px;
    color: #271E3D;
    font-weight: 500;

    display: flex;
    align-items: center;
}

.container-flex {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.lrDivFlex {
    display: flex;
    align-items: center;
    min-width: 490px;
}

.rAlign {
    gap: 10px;
    justify-content: flex-end;
}


.sidebar {
    width: 240px;
    height: 810px;
    font-size: 15px;
    background-color: #202334;
    color: #FFFFFF;

    position: absolute;
    top: 141px;
    left: 0;
    
    padding: 16px 0;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: flex-start;
    border-radius: 0 25px 25px 0;
}

.sidebar div {
    width: 100%;
    list-style: none;
    padding: 0;
}

.sidebar div .menuItems {
    padding: 12px 0 12px 30px;
    cursor: pointer;
    font-weight: 600;
    display: flex;
    align-items: center;
}

.sidebar .menuItems div {
    width: 30px;
    height: 30px;
    margin-right: 15px;
}

.sidebar .menuItems div img {
    height: 100%;
}

.sidebar div .menuItems:hover, .sidebar div .menuItems:active {
    background-color: #ffffff;
    color: #202334;
}