/* login page */
.loginBackground {
    width: 100%;
    height: 100vh;
    background: #202334;
}

.loginContainer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 24px;
    background: #3C415F;
    width: 546px;
    height: 628px;
    text-align: center;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.logo img {
    width: 81px;
    margin-bottom: 22px;
}

.logo h1 {
    font-size: 26px;
    font-weight: 600;
    margin: 0 0 72px 0;
}

.loginContainer form input {
    width: 361px;
    height: 49px;
    padding: 10px;
    background: #ECECEE;
    border: none;
    border-radius: 5px;
    margin-bottom: 26px;
}

.loginContainer form input:focus {
    outline: none;
}

.loginButton {
    width: 361px;
    height: 45px;
    padding: 10px;
    background: #FE0000;
    border-radius: 6px;
    color: #F7F0DE;
    border: none;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 23px;
}

.addEvent {
    width: 361px;
    display: flex;
    justify-content: space-between;
    font-size: 15px;
}

.remember {
    display: flex;
    align-items: center;
}

.remember img {
    width: 19px;
    margin-left: 1px;
    cursor: pointer;
}

.remember span {
    color: #BAC0D8;
    margin-left: 12px;
}

.addEvent button {
    background: none;
    border: none;
    color: #BAC0D8;
    cursor: pointer;
    font-size: 15px;
}