.topPosition {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 20px;
}

.topPosition h1 {
    margin: 0;
    font-weight: 500;
    min-width: 350px;
}

.robotCount {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    padding: 5px 10px;
    border: 1px solid #bec2db;
    border-radius: 50px;
    min-width: 430px;
    height: 30px;
    font-size: 13px;
}

.countItem div {
    display: inline-block;
}

.totalNumber {
    margin-left: 5px;
    color: #ea7f81;
}

.itemNumber {
    margin-left: 5px;
    color: #b1e4ff;
}

.middlePosition {
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: 2%;
}